/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 10, 2014, 9:24:47 PM
    Author     : Steve
*/
#baseContainer {
    -fx-background-color: #ebe1a9;
    -fx-background-image: url(texture.png);
}
#galleryContainer {
    -fx-background-color: #ebe1a9;
}

#label {
    -fx-color:#fff;
    -fx-border-bottom: 1px solid #ddd;
}
